<ion-view title="Configuración" id="page12">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="configuraciN-form6" class="list">
      <label class="item item-input" id="configuraciN-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <label class="item item-select" id="configuraciN-select1">
        <span class="input-label">Unidades</span>
        <select>
          <option>--</option>
          <option>Millas</option>
          <option>Km</option>
        </select>
      </label>
      <label class="item item-select" id="configuraciN-select2">
        <span class="input-label">Número de pasos</span>
        <select>
          <option>--</option>
          <option>10'000</option>
          <option>12'000</option>
          <option>Otro</option>
        </select>
      </label>
      <label class="item item-select" id="configuraciN-select3">
        <span class="input-label">Dispositivos </span>
        <select>
          <option>--</option>
          <option>JPI578</option>
          <option>iPhone de Maria</option>
        </select>
      </label>
      <label class="item item-select" id="configuraciN-select4">
        <span class="input-label">Alarma de desentarismo</span>
        <select>
          <option>--</option>
          <option>Sí</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="configuraciN-select5">
        <span class="input-label">Agregar rutina</span>
        <select>
          <option>--</option>
          <option>UniAndes</option>
          <option>Gmail</option>
          <option>Outlook</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="configuraciN-select6">
        <span class="input-label">Idioma</span>
        <select>
          <option>Español</option>
          <option>English</option>
        </select>
      </label>
      <a ui-sref="login()" id="configuraciN-button10" class="button button-positive button-small button-block button-clear">Cerrar Sesión</a>
    </form>
  </ion-content>
</ion-view>