<ion-view title="Estadisticas" id="page15">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="estadisticas-heading13" style="color:#9EE493;">Índice de masa muscular</h4>
    <div>
      <img src="img/E6fBCl5lQKyK0iyvDsmQ_IMC.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <h4 id="estadisticas-heading10" style="color:#9EE493;">Peso</h4>
    <div>
      <img src="img/DFUYjOjRV2iQYMSn5PbQ_Peso.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <h4 id="estadisticas-heading14" style="color:#9EE493;">Pasos</h4>
    <div>
      <img src="img/aPN0upBhQSayPfbwF99B_Pasos.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>