<ion-view title="Perfil" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="perfil-list4">
      <ion-item class="item-thumbnail-left royal" id="perfil-list-item8">
        <img src="img/whB3FulEReKfqDTmhWTR_attractive-background-beautiful-756453.jpg">
        <h2royal>Diana Pérez
          <p style="white-space:normal;">d.perez10@uniandes.edu.co</p>
        </h2royal>
      </ion-item>
    </ion-list>
    <div id="perfil-button-bar7" class="button-bar">
      <button id="perfil-button15" class="button button-royal button-block button-outline icon-right ion-edit">Mujer</button>
      <button id="perfil-button16" class="button button-royal button-block button-outline icon-right ion-edit">01/08/1998</button>
    </div>
    <div id="perfil-button-bar8" class="button-bar">
      <button id="perfil-button18" class="button button-royal button-block button-outline icon-right ion-edit">163 cm </button>
      <button id="perfil-button19" class="button button-royal button-block button-outline icon-right ion-edit">60 kg</button>
    </div>
    <form id="perfil-form7" class="list">
      <ion-item class="range range-assertive" id="perfil-range1">Nivel de actividad
        <input type="range" value="3" min="0" max="5" step="1">
      </ion-item>
    </form>
  </ion-content>
</ion-view>