<ion-view title="Rutina" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="rutina-form3" class="list">
      <label class="item item-input" id="rutina-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <a ui-sref="GlTeosGemelos()" id="rutina-button7" class="button button-royal button-block button-outline">Glúteos/Gemelos</a>
    <button id="rutina-button8" class="button button-royal button-block button-outline">Glúteos/Abductores</button>
    <button id="rutina-button42" class="button button-royal button-block button-outline">Bicep/Tricep</button>
    <button id="rutina-button43" class="button button-royal button-block button-outline">Espalda/Pecho</button>
    <button id="rutina-button44" class="button button-royal button-block button-outline">Espalda/Hombro</button>
    <button id="rutina-button47" style="font-style:italic;text-align:right;" class="button button-positive button-clear icon-left ion-android-add">Nueva Rutina</button>
  </ion-content>
</ion-view>